In [1]:
x=5
y=6
z=x+y
print(z)

11

In [2]:
x=int(input())
y=int(input())
z=x+y
print(z)

5
6
11

In [3]:
x=str(input())
y=str(input())
z=x+y
print(z)

Saya
Mahasiswa Unikom
SayaMahasiswa Unikom

In [4]:
nama = str(input())
alamat = str(input())
nilai = int(input())

print("Nama",nama)
print("Alamat",alamat)
print("Nilai",nilai)

Madon
Pekanbaru
93
Nama Madon
Alamat Pekanbaru
Nilai 93

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
xlist = ["andri","madon","arboy"]
print(xlist[0])
print(xlist[1])
print(xlist[2])

andri
madon
arboy

In [7]:
nilai = int(input('Masukkan nilai = '))
if  nilai > 80:
    print("predikat A")
elif nilai > 70:
    print("predikat B")
elif nilai > 60:
    print("predikat C")
elif nilai > 50:
    print("predikat D")
else :
    print("predikat E")

Masukkan nilai = 80
predikat B

In [8]:
xlist = ["andri","madon","arboy"]
for i in xlist:
    print(i)

andri
madon
arboy

In [10]:
d = [1,2,3,4]
d

[1, 2, 3, 4]

In [12]:
d = [1 , 2 , 3 , 4]
f = [5 , 6 , 2 , 1]

e = d + f
e

[1, 2, 3, 4, 5, 6, 2, 1]

In [13]:
d = [(1, 2, 3, 4),
     (5, 6, 2, 1)]

d[0][0]

1

In [22]:
for i in d[0]:
    print(i)

1
5

In [17]:
lpip list

SyntaxError: invalid syntax (3354808962.py, line 1)

In [21]:
import pandas as pd
d = pd.DataFrame(d)
d

   0  1  2  3
0  1  2  3  4
1  5  6  2  1

In [57]:
d = {'A':[0 , 1 , 2 , 3], 'B':pd.Series([1, 2, 3, 4], index = [0 ,1 , 2, 3])}
df = pd.DataFrame(data=d,index=[0 , 1, 2, 3])
df

   A  B
0  0  1
1  1  2
2  2  3
3  3  4

In [58]:
df['B']. iloc[2]

3

In [59]:
x = df['B'].iloc[2] + df['A'].iloc[2]
x

5

In [61]:
x = df['B'].iloc[0] + df['A'].iloc[0]
y = df['B'].iloc[1] + df['A'].iloc[1]
z = df['B'].iloc[2] + df['A'].iloc[2]
p = df['B'].iloc[3] + df['A'].iloc[3]


x,y,z,p

(1, 3, 5, 7)